# Don't count test files for GitHub repo stats
# see - https://github.com/github-linguist/linguist/blob/1040da7115035a67fd0b8bfeb12f38b9719b16af/docs/overrides.md#using-gitattributes
**/docs/** linguist-vendored
