# The default behavior.
* text=auto

# Ensure that WDL files always use LF line endings.
*.wdl text eol=lf

# Ignore these two files as they formatting tests require exact content
tests/cli/format/check/format_check_does_not_overwrite_file/inputs/file.wdl -text
tests/cli/format/check/format_check_does_not_overwrite_file/outputs/file.wdl -text

# Ensure that the wdl-doc file tests use LF line endings.
crates/wdl-doc/tests/output_docs/**/*.html text eol=lf
crates/wdl-doc/tests/output_docs/style.css text eol=lf
crates/wdl-doc/tests/output_docs/index.js text eol=lf

# Ignore line endings for this file as it is intentionally inconsistent
crates/wdl-lint/tests/lints/inconsistent-newlines/source.wdl -text

# Don't count doc test files for GitHub repo stats
# see - https://github.com/github-linguist/linguist/blob/1040da7115035a67fd0b8bfeb12f38b9719b16af/docs/overrides.md#using-gitattributes
**/docs/** linguist-vendored
**/output_docs/** linguist-vendored
