[package]
name = "sprocket"
version = "0.1.0"
description = "A package manager for the Workflow Description Language files"
edition = "2021"

[dependencies]
anyhow = "1.0.75"
clap = { version = "4.4.7", features = ["derive", "string"] }
codespan-reporting = "0.11.1"
git-testament = "0.2.5"
indexmap = "2.1.0"
nonempty = "0.9.0"
pest = { version = "2.7.5", features = ["pretty-print"] }
tracing = "0.1.40"
tracing-subscriber = "0.3.18"
wdl = { version = "0.2.0", features = ["ast", "core", "grammar"] }
walkdir = "2.4.0"
