[package]
name = "sprocket"
version = "0.12.2"
description = "A command line tool for working with Workflow Description Language (WDL) documents"
authors = ["The Sprocket project contributors"]
license = "MIT OR Apache-2.0"
edition = "2024"
homepage = "https://sprocket.bio"
repository = "https://github.com/stjude-rust-labs/sprocket"
documentation = "https://sprocket.bio/overview.html"
readme = "README.md"

[dependencies]
anyhow = "1.0.91"
chrono = "0.4.41"
clap = { version = "4.5.37", features = ["derive", "string"] }
clap-verbosity-flag = { version = "3.0.2", features = ["tracing"] }
clap_complete = "4.5.48"
codespan-reporting = "0.12.0"
colored = "3.0.0"
futures = "0.3.31"
git-testament = "0.2.5"
indexmap = "2.9.0"
indicatif = "0.17.8"
nonempty = "0.11.0"
pest = { version = "2.7.14", features = ["pretty-print"] }
pretty_assertions = "1.4.1"
serde_json = "1.0.140"
serde_yaml = "0.9.34"
tokio = { version = "1.41.0", features = ["full"] }
tokio-util = "0.7.15"
toml = "0.8.22"
tracing = "0.1.40"
tracing-indicatif = "0.3.9"
tracing-subscriber = { version = "0.3.18", features = ["env-filter"] }
url = "2.5.4"
walkdir = "2.5.0"
wdl = { version = "0.13.2", features = ["cli", "codespan", "engine", "lsp"] }
