@import "./colors.css";
@import "./layout.css";
@import "./markdown.css" layer(components);
@import "./markdown-overrides.css";

/* Custom brand theme variables */
@theme {
    --font-sans: "DM Sans";
    --color-brand-emerald-200: var(--color-brand-emerald-200);
    --color-brand-emerald-400: var(--color-brand-emerald-400);
    --color-brand-emerald-950: var(--color-brand-emerald-950);
    --color-brand-violet-400: var(--color-brand-violet-400);
    --color-brand-pink-400: var(--color-brand-pink-400);
    --color-brand-cyan-400: var(--color-brand-cyan-400);
    --color-brand-lime-300: var(--color-brand-lime-300);
    --color-brand-red-400: var(--color-brand-red-400);
    --color-brand-yellow-50: var(--color-brand-yellow-50);
    --color-brand-yellow-400: var(--color-brand-yellow-400);
    --color-brand-yellow-700: var(--color-brand-yellow-700);
    --color-brand-yellow-900: var(--color-brand-yellow-900);
    --color-brand-yellow-950: var(--color-brand-yellow-950);
}

@layer base {
    body {
        @apply text-sm;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply leading-none break-words;
    }

    h1 {
        @apply text-5xl; /* 48px */
    }

    h2 {
        @apply text-4xl; /* 36px */
    }

    h3 {
        @apply text-3xl; /* 30px */
    }

    h4 {
        @apply text-2xl; /* 24px */
    }

    h5 {
        @apply text-xl;
    }
}

@utility dark-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--color-slate-900) var(--color-slate-700);
}

@variant light (.light &);
