# The default behavior.
* text=auto

# Ensure that WDL files always use LF line endings.
*.wdl text eol=lf

# Ensure that the wdl-doc file tests use LF line endings.
wdl-doc/tests/output_docs/**/*.html text eol=lf
wdl-doc/tests/output_docs/style.css text eol=lf
wdl-doc/tests/output_docs/index.js text eol=lf

# Ignore line endings for this file as it is intentionally inconsistent
wdl-lint/tests/lints/inconsistent-newlines/source.wdl -text
