# The default behavior.
* text=auto

# Ensure that WDL files always use LF line endings.
*.wdl text eol=lf

# Ignore line endings for this file as it is intentionally inconsistent
wdl-lint/tests/lints/inconsistent-newlines/source.wdl -text
