[workspace]
members = ["wdl-grammar"]
resolver = "2"

[workspace.package]
license = "MIT OR Apache-2.0"
edition = "2021"

[workspace.dependencies]
env_logger = "0.10.0"
log = "0.4.20"
serde = { version = "1", features = ["derive"] }
